
<div class="central"> 
 <form [formGroup]="translateform" (ngSubmit)="translateS()">
    
    <div class="form-group">
      <input  type="number" min="1" max="10" id="title" placeholder="combien de gifs voulez vous ?(max 10)"
       class="form-control" formControlName="limit">
    </div>

  
    <button class="button btn-dark"  type="submit">Soumettre</button>
  
  </form>


<div *ngIf="translate">
  voici les gifs du jours : 
  <ul>
      <li *ngFor="let meme of trends.data">
         <img [src]="meme.images.original.url"/>
      
      </li>
  </ul>
 

</div>

</div>
