
  .central{

    width: 80%;
    margin: auto;
    background-color: white;
    height: 100%;

  }

 
  a {
      display: block;
      margin-right: 1px black solid;
      border-right: 1px black solid;
  }

  .formulaire{
      padding-top: 20px;
  }

  .button{
      border-radius: 1px;
      height: 40px;
  }