
  .central{

    width: 80%;
    margin: auto;
    background-color: white;
    height: 100%;
    overflow-y: scroll;


  }

  .form-group{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

 
  a {
      display: block;
      margin-right: 1px black solid;
      border-right: 1px black solid;
  }

  .formulaire{
      padding-top: 20px;
  }

  .button{
      border-radius: 1px;
      height: 40px;
  }