
<div class="central">
<form [formGroup]="rechercheForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <input type="text" id="apyKey" placeholder="entrer votre clef" 
      class="form-control" formControlName="question">
    </div>
   
    <div class="form-group">
      <input  type="number" min="1" max="10" id="title" placeholder="entrer votre titre"
       class="form-control" formControlName="limit">
    </div>

  
    <button  class="button"  type="submit">Soumettre</button>
  
  </form>


<div *ngIf="afficher">
    voici les gifs : 
    <ul>
        <li *ngFor="let meme of memes.data">
           <img [src]="meme.images.original.url"/>
        
        </li>
    </ul>
   

</div>
</div>

